<section class="duoinavbar">
    <div class="container text-white">
        <div class="row justify">
            <div class="col-lg-3 col-md-5">
                <div class="categoryheader">
                    <div class="noidungheader text-white">
                        <i class="fa fa-bars"></i>
                        <span class="text-uppercase font-weight-bold ml-1">The Book Spot</span>
                    </div>
                    <!-- CATEGORIES -->
                    <div class="categorycontent">
                        <ul>
                            <li> <a href="/cartgory/kinhte"> Economic book </a><i
                                    class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Economic book</a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/kinhte">Political Economy</a></li>
                                        <li><a href="/cartgory/kinhte">Start-up Book</a></li>
                                        <li><a href="/cartgory/kinhte">Books of Finance, Accounting</a></li>
                                        <li><a href="/cartgory/kinhte">Human Resource Management Book</a></li>
                                        <li><a href="/cartgory/kinhte">Work Skills Book</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/kinhte">Characters - Business Lessons</a></li>
                                        <li><a href="/cartgory/kinhte">Book of Management - Leadership</a></li>
                                        <li><a href="/cartgory/kinhte">Economics Book</a></li>
                                        <li><a href="/cartgory/kinhte">Book Stock - Real Estate - Investment</a></li>
                                        <li><a href="/cartgory/kinhte">Book Marketing - Sales</a></li>
                                    </div>
                                </ul>
                            </li>

                            <li><a href="/cartgory/laptrinh">Programming Book</a><i class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Programming Book</a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/laptrinh">Program Javscript</a></li>
                                        <li><a href="/cartgory/laptrinh">Program Golang</a></li>
                                        <li><a href="/cartgory/laptrinh">Program Php</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/laptrinh">Program Java</a></li>
                                        <li><a href="/cartgory/laptrinh">Program Flutter</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/vanhocvietnam">Indian Literature Book</a><i class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Indian Literature Book</a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/vanhocvietnam">Short Story - Tan Van</a></li>
                                        <li><a href="/cartgory/vanhocvietnam">Historical novel</a></li>
                                        <li><a href="/cartgory/vanhocvietnam">Reportage - Chronicle - Travel Diary - Custom Pen</a></li>
                                        <li><a href="/cartgory/vanhocvietnam">Poem</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/vanhocvietnam">Novel</a></li>
                                        <li><a href="/cartgory/vanhocvietnam">Biography - Memoir</a></li>
                                        <li><a href="/cartgory/vanhocvietnam">Literary Criticism</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/vanhocnuocngoai">Books of Foreign Literature</a><i
                                    class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Books of Foreign Literature
                                             </a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/vanhocnuocngoai">Modern Literature</a></li>
                                        <li><a href="/cartgory/vanhocnuocngoai">Novel</a></li>
                                        <li><a href="/cartgory/vanhocnuocngoai">Detective story</a></li>
                                        <li><a href="/cartgory/vanhocnuocngoai">Myth - Fairy</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/vanhocnuocngoai">Classical Literature</a></li>
                                        <li><a href="/cartgory/vanhocnuocngoai">Fantasy - Horror Book</a></li>
                                        <li><a href="/cartgory/vanhocnuocngoai">Comic swordplay</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/thieunhi">Children's books</a><i class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Children's books
                                             </a>
                                    </li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/thieunhi">Kindergarten</a></li>
                                        <li><a href="/cartgory/thieunhi">Youth</a></li>
                                        <li><a href="/cartgory/thieunhi">Knowledge - Encyclopedia</a></li>
                                        <li><a href="/cartgory/thieunhi">Fairy Tales</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/thieunhi">Children</a></li>
                                        <li><a href="/cartgory/thieunhi">Children's Literature</a></li>
                                        <li><a href="/cartgory/thieunhi">Life skills</a></li>
                                        <li><a href="/cartgory/thieunhi">Comic</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/giaoduc">Educational Books</a><i
                                    class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Education Book - Family
                                             
                                             </a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/giaoduc">Education</a></li>
                                        <li><a href="/cartgory/giaoduc">Pregnancy</a></li>
                                        <li><a href="/cartgory/giaoduc">Nutrition Book - Child Care</a></li>
                                        <li><a href="/cartgory/giaoduc">Cuisine - Cooking</a></li>
                                        <li><a href="/cartgory/giaoduc">Reference books</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/giaoduc">Sex</a></li>
                                        <li><a href="/cartgory/giaoduc">Parenting Book</a></li>
                                        <li><a href="/cartgory/giaoduc">Knowledge - Skills For Children</a></li>
                                        <li><a href="/cartgory/giaoduc">Foreign Languages - Dictionary</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/lichsu">History book</a><i class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">History book</a>
                                    </li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/lichsu">Indian history</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/lichsu">World history</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/vanhoanghethuat">Book of Culture - Art</a><i
                                    class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Book of Culture - Art
                                             </a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/vanhoanghethuat">Culture</a></li>
                                        <li><a href="/cartgory/vanhoanghethuat">Customs</a></li>
                                        <li><a href="/cartgory/vanhoanghethuat">Feng Shui</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/vanhoanghethuat">Art</a></li>
                                        <li><a href="/cartgory/vanhoanghethuat">Architecture</a></li>
                                        <li><a href="/cartgory/vanhoanghethuat">Travel</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/triethoc">Science - Philosophy Books</a><i
                                    class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Science - Philosophy Books
                                            
                                            </a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/triethoc">Western Philosophy</a></li>
                                        <li><a href="/cartgory/triethoc">Basic science</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/triethoc">Oriental Wisdom</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/cartgory/tamlinhtongiao">Books Spiritual - Religion</a><i
                                    class="fa fa-chevron-right float-right"></i>

                            </li>
                            <li><a href="/cartgory/dinhduongyhoc">Medicine - Nutrition Book</a><i
                                    class="fa fa-chevron-right float-right"></i>
                                <ul>
                                    <li class="liheader"><a href="#" class="header text-uppercase">Book of Medicine - Macrobiotics
                                            </a></li>
                                    <div class="content trai">
                                        <li><a href="/cartgory/dinhduongyhoc">Health care</a></li>
                                        <li><a href="/cartgory/dinhduongyhoc">Medicine</a></li>
                                        <li><a href="/cartgory/dinhduongyhoc">Meditation - Yoga</a></li>
                                    </div>
                                    <div class="content phai">
                                        <li><a href="/cartgory/dinhduongyhoc">Macrobiotics</a></li>
                                        <li><a href="/cartgory/dinhduongyhoc">Oriental Medicine - Traditional</a></li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto contact d-none d-md-block">
                <div class="benphai float-right">
                    <div class="hotline">
                        <i class="fa fa-phone"></i>
                        <span>Mobile No:<b></b> 7483871979</span>
                    </div>
                    <i class="fas fa-comments-dollar"></i>
                    <a href="#">online support</a>
                </div>
            </div>
        </div>
    </div>
</section>
