<%- include ('../include/_header') %>

<section class="duoinavbar">
  <div class="container text-white">
    <div class="row justify">
      <div class="col-md-3">
        <div class="categoryheader">
          <div class="noidungheader text-white">
            <i class="fa fa-bars"></i>
            <span class="text-uppercase font-weight-bold ml-1">The Book Spot</span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="benphai float-right">
          <div class="hotline">
            <i class="fa fa-phone"></i>
            <span>Mobile No:<b>7483871979</b> </span>
          </div>
          <i class="fas fa-comments"></i>
          <a href="#">online support </a>
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- content of the list of books (categories) + banner slider -->
<section class="header bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="margin-right: -15px">
        <!-- CATEGORIES -->
        <div class="categorycontent">
          <ul>
            <li>
              <a href="/cartgory/kinhte"> Economic book </a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Economic book </a></li>
                <div class="content trai">
                  <li><a href="#">Political Economy</a></li>
                  <li><a href="#">Start-up Book</a></li>
                  <li><a href="#">Books of Finance, Accounting</a></li>
                  <li><a href="#">Human Resource Management Book</a></li>
                  <li><a href="#">Work Skills Book</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Characters - Business Lessons</a></li>
                  <li><a href="#">Book of Management - Leadership</a></li>
                  <li><a href="#">Economics Book</a></li>
                  <li><a href="#">Book Stock - Real Estate - Investment</a></li>
                  <li><a href="#">Book Marketing - Sales</a></li>
                </div>
              </ul>
            </li>

            <li>
              <a href="/cartgory/laptrinh">Programming Book </a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Programming Book</a></li>
                <div class="content trai">
                  <li><a href="#">Program Javscript</a></li>
                  <li><a href="#">Program Golang</a></li>
                  <li><a href="#">Program Php</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Program Java</a></li>
                  <li><a href="#">Program Flutter</a></li>
                </div>
              </ul>
            </li>
        
            <li>
              <a href="/cartgory/vanhocnuocngoai">Books of Foreign Literature</a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Books of Foreign Literature</a></li>
                <div class="content trai">
                  <li><a href="#">Modern Literature</a></li>
                  <li><a href="#">Novel</a></li>
                  <li><a href="#">Detective story</a></li>
                  <li><a href="#">Myth - Fairy</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Classic Literature</a></li>
                  <li><a href="#">Fantasy - Horror Book</a></li>
                  <li><a href="#">Comic swordplay</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="/cartgory/thieunhi">Children's books</a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Children's books</a></li>
                <div class="content trai">
                  <li><a href="#">Kindergarten</a></li>
                  <li><a href="#">Youth</a></li>
                  <li><a href="#">Knowledge - Encyclopedia</a></li>
                  <li><a href="#">Fairy tales</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Children</a></li>
                  <li><a href="#">Children's Literature</a></li>
                  <li><a href="#">Life skills</a></li>
                  <li><a href="#">Comic</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="/cartgory/giaoduc">Educational Books</a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Educational Books - Family</a></li>
                <div class="content trai">
                  <li><a href="#">Family</a></li>
                  <li><a href="#">Pregnancy</a></li>
                  <li><a href="#">Book of Nutrition - Child Care</a></li>
                  <li><a href="#">Cuisine - Cooking</a></li>
                  <li><a href="#">Reference books</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Sex</a></li>
                  <li><a href="#">Parenting Book</a></li>
                  <li><a href="#">Knowledge - Skills For Children</a></li>
                  <li><a href="#">Foreign Languages - Dictionary</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="/cartgory/lichsu">History book</a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">History book</a></li>
                <div class="content trai">
                  <li><a href="#">Indian history</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">World History</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="/cartgory/vanhoanghethuat">Book of Culture - Art</a
              ><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Book of Culture - Art</a></li>
                <div class="content trai">
                  <li><a href="#">Culture</a></li>
                  <li><a href="#">Custom</a></li>
                  <li><a href="#">Feng Shui</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Art</a></li>
                  <li><a href="#">Architecture</a></li>
                  <li><a href="#">Travel</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="/cartgory/triethoc">Science - Philosophy Books</a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Science - Philosophy Books</a></li>
                <div class="content trai">
                  <li><a href="#">Western Philosophy</a></li>
                  <li><a href="#">Basic science</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Oriental Wisdom</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="/cartgory/tamlinhtongiao">Books Spiritual - Religion</a><i class="fa fa-chevron-right float-right"></i>
            </li>
            <li>
              <a href="/cartgory/dinhduongyhoc">Book of Medicine - Nutrition</a><i class="fa fa-chevron-right float-right"></i>
              <ul>
                <li class="liheader"><a href="#" class="header text-uppercase">Book of Medicine - Macrobiotics</a></li>
                <div class="content trai">
                  <li><a href="#">Health care</a></li>
                  <li><a href="#">Medicine</a></li>
                  <li><a href="#">Meditation - Yoga</a></li>
                </div>
                <div class="content phai">
                  <li><a href="#">Macrobiotics</a></li>
                  <li><a href="#">Oriental Medicine - Traditional</a></li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- banner slider  -->
      <div class="col-md-9 px-0">
        <div id="carouselId" class="carousel slide" data-ride="carousel">
          <ol class="nutcarousel carousel-indicators rounded-circle">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="#"
                ><img src="/images/banner2.jpg" class="img-fluid" style="height: 386px" width="900px" alt="First slide"
              /></a>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="/images/banner1.jpg" class="img-fluid" style="height: 386px" width="900px" alt="Second slide"
              /></a>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="/images/banner4.jpg" class="img-fluid" style="height: 386px" width="900px" alt="Third slide"
              /></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselId" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselId" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- khoi sach moi  -->
<section class="_1khoi sachmoi bg-white">
  <div class="container">
    <div class="noidung" style="width: 100%">
      <div class="row">
        <!--header-->
        <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-transparent pt-4">
          <h1 class="header text-uppercase" style="font-weight: 400">Best selling books</h1>
        </div>
      </div>
      <div class="khoisanpham" style="padding-bottom: 2rem">
        <!-- 1 san pham -->
        <% bookProgram.forEach(function(book){ %> <%- include('../include/_booktemplate',{book}) %> <% }); %>
      </div>
    </div>
  </div>
</section>

<!-- khoi sach combo hot  -->







<!-- thanh cac dich vu :mien phi giao hang, qua tang mien phi ........ -->
<%- include('../include/_footer') %>
